@{
    ViewData["Title"] = "Home Page";
    ViewData["Email"] = "Alysonmonteironovo@gmail.com";

}



<div class="text-center">
    <h1 class="display-4">Saller Show Web Course</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Email: <a>@ViewData["Email"]</a></p>
</div>
